ilusiones/src/warehouses/migrations/*
ilusiones/src/orders/migrations/*
ilusiones/src/products/migrations/*
ilusiones/src/ilusiones/__pycache__
ilusiones/.DS_Store
ilusiones/config/.DS_Store
ilusiones/src/.DS_Store
ilusiones/src/warehouses/__pycache__/*
ilusiones/src/products/__pycache__/*
ilusiones/src/orders/__pycache__/*
ilusiones/src/products/.DS_Store
ilusiones/src/static/ajax_select/.DS_Store
ilusiones/src/static/jet/
ilusiones/src/ilusiones/__pycache__/