src/warehouses/migrations/*
src/orders/migrations/*
src/products/migrations/*
src/ilusiones/__pycache__
.DS_Store
config/.DS_Store
src/.DS_Store
src/warehouses/__pycache__
src/products/__pycache__
src/orders/__pycache__
src/products/.DS_Store
src/static/ajax_select/.DS_Store
src/static/jet/
src/ilusiones/__pycache__
src/api/__pycache__
src/static/rest_framework/